<% provide(:title, "Top") %>

<div class="jumbotron">
  <div class="container">
    <div class="col-md-7 col-md-offset-1">
      <h1>TaskApp</h1>
      <p>TaskAppは簡易ToDo管理ツールです。</p>
      <p>↓↓初めてのご利用↓↓</p>
      <a class="btn-btn-success" href='#'>アカウント作成</a>
      <a class="btn-btn-"danger" href='#'>ゲスとログイン（管理権限）</a>
      <a class="btn-btn-success" href='#'>ゲスとログイン（一般権限）</a>

    <div class="col-md-4 col-md-offset-1">
      <h2>ログイン</h2>
      <%= form_with(model:@user,loval:true) do |f| %>
      
        <%= f.label:email, class:"lebel-signup" %>
        <%= f.email_field :email, class:"form-control" %>
        
        <%= f.label:password, class:"lebel-signup" %>
        <%= f.password_field :password, class:"form-control" %>
        
        <input type="checkbox" value="remember-me">
        
        <%= link_to "ログイン", login_path, class: "btn-block btn-primary" %>
      <% end %>  
</div>
