<% provide(:title, "Top") %>

<div class="container">
  <div class= "row">
    <div class="col-md-7"col-md-offset-1>
      <div class="center jumbotron" id="top-main">
        <h1>TaskApp</h1>
        <p>TaskAppは簡易ToDo管理ツールです。</p>
        <p>↓↓初めてのご利用↓↓</p>
        <button type="button" class="btn btn-success btn-lg">アカウント作成</button>
        <button type="button" class="btn btn-danger">ゲストログイン（管理権限）</button>
        <button type="button" class="btn btn-warning">ゲストログイン（一般権限）</button>


      </div>  
    </div>
    <div class="col-md-4">
        <h2>ログイン</h2>
        <%= form_with(model:@user,loval:true) do |f| %>
        
          <%= f.label:"メールアドレス", class:"lebel-signup" %>
          <%= f.email_field :email, class:"form-control" %>
          
          <%= f.label:"パスワード", class:"lebel-signup" %>
          <%= f.password_field :password, class:"form-control" %>
          
          <input type="checkbox" value="remember-me">
          <span>ログイン情報を記録する</span>
          <%=f.submit "ログイン", class:"btn btn-primary btn-block btn-login" %>
        <% end %> 
    </div>
  </div>  
</div>
